.button {
    background-color: var(--accent-color);
    font-size: 1.2rem;
}

.gridItem {
    background-color: transparent;
    border: 1px solid #555;
    border-radius: 10px;
    color: white;
    padding: 1rem;
}

.gridItemText {
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.input {
    background-color: transparent;
    border: 1px solid #555;
    border-radius: 10px;
    color: white;
    font-family: monospace;
    font-size: 1.2rem;
    padding: 0.6rem;
    text-align: center;
    width: 490px;

    &:focus {
        border: 1px solid white;
        outline: none;
    }
}